.menuContainer {
    border: 1px solid #cdcdcd;
    margin: 10px 0;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.menuItem {
    display: inline-block;
    margin-right: 0.6em;
}

.menuItem a {
    color: #6c757d;
}