.hotel {
    /* border-bottom: 1px solid #cdcdcd; */
    /* padding-bottom: 20px; */
    margin-bottom: 20px;
    background-color: gainsboro;
}
.title {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
}
.description {
    color: grey;
    margin-top: 10px;
    font-size: 0.88rem;
    margin-bottom: 0;
}