.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 15px;
    position: relative;
    overflow: hidden;
}

.headerImage {
    background-color: #cdcdcd;
    background: url('../../assets/images/header.jpg') center;
    background-size: 110%;
    position: absolute;
    top: -150%;
    bottom: -5%;
    left: -5%;
    right: -5%;
    z-index: -1;
}
